/*Setear nuestros archivos*/
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', serif;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

ul.menu {
  padding: 10px 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #d3d3d3
 }

ul.menu > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  right: 38%;
}

.logo-header{
  width: 35px
}

header ul.menu li, header ul li.emoticon{
  text-decoration: none;
  list-style: none;
  display: inline-block;

}

header ul.menu li.input-caja{
  display: inline-block;
  position: absolute;
  background-color: #EFEFEF;
  border-radius: 5px;
  margin: 0 16px;
  width: 71%;
  height: 35%;
  padding: 10px;
  left: 70px;
  font-size: 16px;
  font-weight: 700;
}

.menu .input-caja .caja-lupa{
  width: 85%;
  left: 15px;
  position: relative;
 display: inline-block;
}

i.fa.fa-search{
  font-size: inherit;
  display: inline-block;
}

.menu .input-caja .caja-lupa input{
  width: 93%;
  border: none;
  line-height: 20px;
  font-size: 18px;
  background-color: transparent;
}

i.fa.fa-times{
  font-size: inherit;
  display: inline-block;
  font-size: inherit;
  position: relative;
}

li.input-caja div.caja-pins{
  display: inline-block;
  position: relative;
  left: 15px;
}

header ul li.emoticon{
  position: relative;
  left: 35%;
  display: inline-block;
  color: #b5b5b5;
  font-size: 22px;
  margin-left: 30px;
}

hr{
  border: 1px;
}

.menu, .sub-menu {
  text-align: center!important;
  background-color: #fff;
}
.sub-menu {
  font-size: 16px;
  padding-bottom: 0;
  width: 100%;
  list-style: none;
}
.sub-menu div {
  border-radius: 8px;
  display: inline-block;
  margin: 20px 10px;
  position: relative;
}
.sub-menu ul div li {
   color: #fff;
   font-weight:bold;
   height: 50%;
   list-style:none;
   position: relative;
   text-align: center;
   transform: translateY(50%);
}
.light{
  padding: 10px;
}
.botones{
  background-color: #aae5e9;
}
main {
  margin: 0px;
  padding:0px 20px;
  position: relative;
  top:140px;
  width: 100%;
}
.column{
  width: 30%;
  float: left;
  margin:0px 5px 0px 5px;
  padding:0px;

}
.column figure img {
  display: inline-block;
  border-radius: 20px;
  width: 100%;

}
figure a {
text-decoration: none;
color: #000;
}

h4{
  display:inline-block;
}
.text p{
  width:100%;
  margin-top: 10px;
  text-align:left;
}
.icon-pushpin, .icon-checkmark {
  font-size: 10px;
  color:#686868;
}
.circle{
  background-color:#d597a1;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top:4px;
  padding:2px 6px;
}
.user-name{
  position: relative;
  top: 6px;
  font-weight: bold;
}

.hashtag{
  display: block;
  position: relative;
  left: 35px;
  z-index: inherit;
}
